* {
    box-sizing: border-box;
    color: white;
}

.column {
    float: left;
    width: 33.33%;
}

h2{
    text-align: center;
}

@media screen and (max-width:1000px) {
    .column {
        width: 100%;
    }
}

#corners1 {
    border-radius: 50px;
    background-color: sandybrown;
    margin: 50px auto;
    width: 85%;
    padding: 1px 10px 10px 25px;
}

#corners2 {
    border-radius: 50px;
    background-color: black;
    margin: 50px auto;
    width: 85%;
    padding: 1px 10px 10px 25px;
}

#corners3 {
    border-radius: 50px;
    background-color: cadetblue;
    margin: 50px auto;
    width: 85%;
    padding: 1px 10px 10px 25px;
}
