header {
    background-color: grey;
    padding: 2px;
    text-align: center;
    font-size: 35px;
    font-family: fantasy;
    text-decoration: underline;
    margin: 0;
    color: white;
}

body{
margin: 0;
}

.img{
    margin-top: .5em;
    margin-right: .5em;
    margin-left: .5em;
}