.column {
    float: left;
    width: 50%;
}

#corners1 {
    background-color: sandybrown;
    width: 100px;
    height: 150px;
    padding: 10px;
    display: block;
    margin: 50px 15% 50px auto;
    text-align: center;
}

#corners2 {
    background-color: cornflowerblue;
    width: 100px;
    height: 150px;
    padding: 10px;
    display: block;
    margin: 50px auto 50px 15%;
    text-align: center;
}

.preis{
    color: red;
}

#preis{
    text-decoration: underline;
}

